.course-col {
	border: 1px solid transparent;
	border-radius: $radius-1;
	padding-left: 0;
	padding-right: 0;

	&.is-active {
		border: 1px solid $color-gray-secondary;
	}
}

.course-year {
	padding: 15px 8px 8px 8px;
	margin-bottom: 8px;
	cursor: pointer;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	.is-active & {
		background: $color-gray-primary;
	}

	&__title {
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;

		span {
			text-transform: lowercase;
		}
	}

	&__subtitle {
		font-size: $body-text-sm;
		color: $color-gray-alt;
		margin-top: -2px; //Offsetting font rendering spacing to keep consistency with design
	}
}

.course-selection {
	margin-top: 20px;
}

.course-tab {
  border: 1px solid #cccccc;
  border-radius: 5px;
  position: relative;
  display: flex;
  padding: 5px 10px 5px 50px;
	margin: 0 8px;

	&__footer {
		display: none;
		background-color: $color-blue-primary;
		border-bottom-left-radius: $radius-2;
		border-bottom-right-radius: $radius-2;
		width: 100%;
		padding: 1.5rem 1rem;
		margin-top: 20px;

		.is-active & {
			display: block;
		}

		button {
			border: 2px solid $color-blue-primary;
			box-shadow:0 0 0 0px $color-blue-primary, 0 0 0 2px $color-blue-secondary;
		}
	}

	&__icon-container {
		position: absolute;
	  top: -1px;
	  left: -1px;
	  width: 35px;
	  height: calc(100% + 2px);
	  background: #31b0dd;
	  border-top-left-radius: 5px;
	  border-bottom-left-radius: 5px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
		color: $color-white;
	}

	&--active {
		padding: 5px 10px 5px 20px;
		&:before {
			content: '';
		  position: absolute;
		  top: -1px;
		  left: -1px;
		  width: 8px;
		  height: calc(100% + 2px);
		  background: #83c131;
		  border-bottom-left-radius: 5px;
		  border-top-left-radius: 5px;
		}
	}

	&--empty {
		min-height: 44px;
	  border: 1px dashed #e1e1e1;
	  display: flex;
	  align-items: center;
	  padding-left: 19px;
	  font-size: 12px;
	  color: #b6b6b6;
	}
}

.course-tab + .course-tab {
  margin-top: 5px;
}


.course-name {
  font-size: $body-text-sm;
  color: $text-color-primary;
}

.course-credit {
	font-size: $body-text-sm;
}

.course-icon {
	font-size: $body-text-sm;
	color: $color-white;
	border: 1px solid #872f42;
	border-radius: 100%;
	background: $color-error;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 17px;
	height: 17px;

	&:hover {
		.course-icon__popup {
			display: block;
		}
	}

	&__popup {
		display: none;
		position: absolute;
		padding: 10px 15px 10px 15px;
		font-family: $font-primary;
		font-size: $body-text-xs-sm;
		background: $color-white;
		color: $color-gray-alt;
		border: 1px solid #cccccc;
		border-radius: $radius-1;
		width: 250px;
		top: -61px;
		left: -224px;

		span {
			display: block;
		}

		&-link {
			display: inline-block;
			color: $link-color;
		}

		&--error{
			position: absolute;
			top: 0;
			left: 0;
			width: 10px;
			height: 100%;
			background: $color-error;
			border-top-left-radius: $radius-2;
			border-bottom-left-radius: $radius-2;
		}

		&:before {
			content: '';
			position: absolute;
			right: 7px;
			bottom: -11px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $color-gray-secondary;
		}

		&:after {
			content: '';
			position: absolute;
			right: 7px;
			bottom: -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $color-white;
		}
	}
}

.course-tab__right {
  margin-left: auto;
  align-self: flex-end;
}

.course-details {
  display: flex;

	&__item {
		padding-left: 10px;
	  margin-left: 10px;
	  position: relative;
	  font-size: $body-text-xs-sm;
	  color: $text-color-primary;

		&:first-child {
			border: 0;
		  padding-left: 0;
		  margin-left: 0;

			&:before {
				display: none;
			}
		}

		&:before {
			width: 1px;
		  height: 10px;
		  content: '';
		  background: #bdbdbd;
		  position: absolute;
		  top: 50%;
		  left: 0;
		  transform: translateY(-50%);
		}

		&--light {
			color: #aeaeae;
		}

		&--select {
			color: $color-blue-primary;
		}
	}
}
