.cs-container {
	border: 1px solid transparent;

	&:last-of-type {
		padding-right: 0;
	}
}

.cs-heading-container {
	padding-top: $spacer * 1;
	padding-bottom: $spacer * 1.25;
	cursor: pointer;

	.cs-active & {
		background: $color-gray-primary;
		border-top-left-radius: $radius-1;
		border-top-right-radius: $radius-1;
		padding: $spacer $spacer 0.50rem $spacer;
		cursor: default;
	}
}

.cs-active {
	border: 1px solid $color-gray-secondary;
	border-radius: $radius-1;
	padding-left: 0;
	padding-right: 0;
	-webkit-box-shadow: 2px 2px 4px 1px #f1f1f1;
	box-shadow: 2px 2px 4px 1px #f1f1f1;
}

.cs-heading {
	text-transform: uppercase;
}

.cs-subheading {
	font-size: $body-text-xs-sm;
}

.cs-list-container {

}

.cs-list {
	margin-left: 0;
	padding-left: 0;
}

.cs-year-title {
	text-transform: none;
}

.cs-list-item {
	font-size: $body-text-sm - .25rem;
	font-weight: $light;
	color: $text-disabled;
	list-style-type: none;
	border: 1px dashed $color-gray-secondary;
	border-radius: $radius-1;
	padding: $spacer - 0.25rem;
	margin-bottom: $spacer - 0.25rem;
	cursor: pointer;
	height: 45px;

	.cs-active & {
		margin: 0.68rem 1rem 0.75rem 1rem;
		cursor: default;
	}

	&.add {
		padding: 0;
		border: 1px solid $color-gray-secondary;
	}

	&.selected {
		border: 1px solid $color-gray-secondary;
		padding-top: $spacer - 0.75rem;
		padding-bottom: $spacer - 0.75rem;
		padding-right: $spacer /2;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 10px;
			height: 100%;
			background: $color-green-primary;
			border-top-left-radius: $radius-1;
			border-bottom-left-radius: $radius-1;
		}
	}

	.selected-course-name {
		padding-left: $spacer *1.5;
	}

	.add-icon {
		padding: 0.08rem 0.75rem;
		font-size: $body-text-lrg;
		background-color: $color-blue-primary;
		color: white;
		cursor: pointer;
		border-top-left-radius: $radius-1;
		border-bottom-left-radius: $radius-1;
		height: 100%;
		max-height: 43px;
	}

	.add-subject-title {
		display: block;
		margin-bottom: -3px; //Me being nitpicky. Offsetting space added with font rendering.
	}
}

.cs-footer-container {
	display: none;
	background-color: $color-blue-primary;
	border-bottom-left-radius: $radius-1;
	border-bottom-right-radius: $radius-1;
	width: 100%;
	padding: 1.5rem 1rem;

	.cs-active & {
		display: block;
	}

	button {
		border: 2px solid $color-blue-primary;
		box-shadow:0 0 0 0px $color-blue-primary, 0 0 0 2px $color-blue-secondary;
	}
}

//Selected Course Items

.selected-course-title {
	display: block;
	color: $text-color-primary;
}

.selected-course-code {
	text-transform: uppercase;
	color: $text-color-primary;
	display: block;
	span {
		text-transform: none;
		color: $color-gray-secondary;
	}
}

.selected-course-details {

}

.selected-course-error {
	color: $color-error;
	font-size: $body-text-sm;
	position: relative;
	cursor: pointer;

	&:hover {
		.selected-course-error-popup {
			display: block;
		}
	}

	.selected-course-error-popup {
		display: none;
		position: absolute;
		padding: $spacer;
		font-family: $font-primary;
		font-size: $body-text-xs-sm;
		background: $color-white;
		color: $color-gray-alt;
		-webkit-box-shadow: 2px 2px 4px 1px #f1f1f1;
		box-shadow: 2px 2px 4px 1px #f1f1f1;
		width: 250px;
		top: -75px;
		left: -225px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 10px;
			height: 100%;
			background: $color-error;
			border-top-left-radius: $radius-1;
			border-bottom-left-radius: $radius-1;
		}

		&:after {
			content: '';
			position: absolute;
			right: 7px;
			bottom: -7px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $color-white;
			-webkit-box-shadow: 2px 2px 4px 1px #f1f1f1;
			box-shadow: 2px 2px 4px 1px #f1f1f1;
		}
	}

	&:after {
		content: '';
		background: transparent;
		border: 1px solid #994e5e;
		position: absolute;
		width: 15px;
		height: 15px;
		left: -1px;
		top: 1px;
		border-radius: 50%;
	}
}

.selected-course-error-link {
	display: block;
	margin-top: $spacer/2;
}
