.course-selection {
	margin-top: 20px;
}

.course-tab {
  border: 1px solid #cccccc;
  border-radius: 5px;
  position: relative;
  display: flex;
  padding: 10px 10px 10px 50px;
}

.course-tab + .course-tab {
  margin-top: 5px;
}

.course-tab__icon-container {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 35px;
  height: calc(100% + 2px);
  background: #31b0dd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
	color: $color-white;
}

.course-tab__left {

}

.course-name {
  font-size: $body-text-sm;
  color: #484848;
}

.course-credit {
	font-size: $body-text-sm;
}

.course-tab__right {
  margin-left: auto;
  align-self: flex-end;
}

/* -------------------- */
/* Course tab modifiers */
/* -------------------- */

.course-tab--active {
  padding: 10px 10px 10px 20px;
}

.course-tab--active:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 8px;
  height: calc(100% + 2px);
  background: #83c131;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.course-tab--empty {
  min-height: 46px;
  border: 1px dashed #e1e1e1;
  display: flex;
  align-items: center;
  padding-left: 19px;
  font-size: 14px;
  color: #b6b6b6;
}

/* -------------- */
/* Course Details */
/* -------------- */

.course-details {
  display: flex;
}

.course-details__item {
  padding-left: 10px;
  margin-left: 10px;
  position: relative;
  font-size: $body-text-xs-sm;
  color: #484848;
}

.course-details__item:before {
  width: 1px;
  height: 10px;
  content: '';
  background: #bdbdbd;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.course-details__item:first-child:before {
  display: none;
}

.course-details__item:first-child {
  border: 0;
  padding-left: 0;
  margin-left: 0;
}

.course-details__item--light {
  color: #aeaeae;
}

.course-details__item--select {
	color: #31b0dd;
}
