.course-filter {
	background: $color-gray-primary;
	border: 1px solid $color-gray-secondary;
	border-radius: $radius-1;
	padding: 0.50rem $filter-spacing-small;
	font-size: $body-text-sm;
	color: $color-gray-alt;

	.d-flex {
		flex-wrap: wrap;
		@media (min-width: $mobile) {
			flex-wrap: nowrap;
		}
	}

	&__dropdown {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: left;
		    -ms-flex-pack: left;
		        justify-content: left;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	&__dropdown-container {
		margin-left: $filter-spacing-small;
		width: 100%;
		display: block;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
  	-webkit-box-align: center;
  	    -ms-flex-align: center;
  	        align-items: center;
		position: relative;

		@media (min-width: $mobile) {
			max-width: 270px;
		}

		//Based off CSS Chevrons by Jonathan Neal
		&:after {
			content: '';
			border-style: solid;
			border-width: 1px 1px 0 0;
			border-color: $color-gray-alt;
			position: absolute;
			margin-top: -2px;
			right: 15px;
			width: 0.45em;
			height: 0.45em;
			-webkit-transform: rotate(135deg);
			    -ms-transform: rotate(135deg);
			        transform: rotate(135deg);
			pointer-events: none;
		}
	}

	select {
		display: block;
		min-width: 270px;
		padding: .25rem 1.25rem .25rem .50rem;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 1px solid $color-gray-secondary;
		border-radius: $radius-1;
		color: $color-gray-alt;
		cursor: pointer;

		&::-ms-expand {
	    display: none; /* hide the default arrow in ie10 and ie11 */
		}
	}
}

.course-filter__options {
	border-left: 1px solid $color-gray-secondary;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 1.25rem;
	padding-left: 1.25rem;
}

.course-filter__options-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
	padding-left: 0;
}

.course-filter__options-list-item {
	list-style-type: none;
	margin-left: 1.25rem;

	.custom-control {
		//Centers label to checkbox
		display: flex;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
  	-webkit-box-orient: vertical;
  	-webkit-box-direction: normal;
  	    -ms-flex-direction: column;
  	        flex-direction: column;
	}
}
