.progress {
	background: transparent;
	border: 2px solid #e6e6e6;
	box-shadow: none;
	margin-bottom: 0;
}

.progress-bar {
	background-color: $color-green-primary;
}

.progress-1 {
	width: $w25;
}

.progress-2 {
	width: $w50;
}

.progress-3 {
	width: $w75;
}

.progress-4 {
	width: $w100;
}
