.text-highlight-primary {
	background-color: $color-highlight-primary;
	color: $color-white;
	position: relative;
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	padding: 2px 0 0 3px;
}

.text-highlight-secondary {
	color: $color-green-secondary;
	font-weight: $bold;
}

.absolute-center {
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.align-right {
	right: 0;
}

.buffer-bottom {
	margin-bottom: 1.75rem;
}

.flex-vertical-center {
	display: flex;
	align-items: center;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.no-padding-right {
   padding-right: 0 !important;
}

.no-padding-left {
   padding-left: 0 !important;
}
