//Font Imports
$font-primary: Arial, "Helvetica Neue", Helvetica, sans-serif;

// Font Base
$font-size-base: 16px;

// Font Sizing

$body-text-xs-sm: 0.60rem; //10px
$body-text-sm: 0.75rem; //12px
$body-text-lrg: 1.45rem; //23px


//Font Properties
$bold: 900;
$medium: 600;
$light: 300;

// Colors

$body-color: #fafafa;

$text-color-primary: #484848;
$color-blue-primary: #31b0dd;
$color-blue-secondary: #137cad;
$color-green-primary: #83c131;
$color-green-secondary: #46811b;
$color-highlight-primary: #d03b5b;
$color-white: #fff;
$color-gray-primary: #f1f1f1;
$color-gray-secondary: #cccccc;
$color-gray-alt: #737373;

$link-color: #77b6d2;

$text-disabled: #afafaf;
$color-error: #fc476e;
$color-error-border: #812338;

// Spacing
$body-padding: 3rem 0;
$spacer: 1rem;

//Media Query Breakpoints - Min Width ^
$tablet: 1024px;
$mobile: 768px;

//Filter Variables
$filter-height: 2.8rem;
$filter-spacing-left: 1.75rem;
$filter-spacing-small: 1.25rem;

//Checkbox Variables
$checkbox-dimensions: 1.25rem;

//borders
$radius-1: 5px;
$radius-2: 4px;
